        <div class="top-bar py-1 d-flex justify-content-between px-2 dark-green-bg">
        <div class="">
            <a href=""><i class="fa-brands fa-instagram"></i></a>
            <a href=""><i class="fa-brands fa-facebook"></i></a>
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-solid fa-phone"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
        </div>
        <div>
            <a href=""><i class="fa-solid fa-user"></i></a>
            <a href=""><i class="fa-solid fa-cart-shopping"></i></a>  
             <% if user_signed_in? %>
                <li class="nav-item mx-2">
                    <%= button_to "Salir", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
                </li>
             <% else %>
            <a href=""><%= link_to "REGISTRARSE", new_user_registration_path, style: "color:white; text-decoration:none", class:'mx-2' %></a> 
            <a href=""><%= link_to "INICIAR SESIÓN", new_user_session_path, style: "color:white; text-decoration:none", class:'mx-3' %></a> 
            <% end %>
        </div>
    </div>
    
    <nav class="navbar navbar-expand-lg navbar-dark py-4 clear-green-bg">
        <div class="container-fluid">
            <a class="navbar-brand logo" href="#">Karü</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mx-auto mb-2 mb-lg-0">
                    <li class="nav-item mx-2">
                        <%=link_to 'INICIO', home_index_path, style: "color:white; text-decoration:none" %>
                    </li>
                    <li class="nav-item mx-2">
                        <%=link_to 'TIENDA', products_path, style: "color:white; text-decoration:none" %>
                    </li>
                    <li class="nav-item mx-2">
                        <%=link_to 'NUESTROS EMPRENDEDORES', blog_index_path, style: "color:white; text-decoration:none" %>
                    </li>
                    <li class="nav-item mx-2">
                        <%=link_to 'BLOG', blog_index_path, style: "color:white; text-decoration:none" %>
                    </li>
                    <li class="nav-item mx-2">
                        <%=link_to 'CONTACTO', contact_index_path, style: "color:white; text-decoration:none" %>
                    </li>
                    <li class="nav-item mx-2">
                        <%=link_to 'MI PERFIL', clients_path, style: "color:white; text-decoration:none" %>
                    </li>


                    <!--<li class="nav-item mx-2">
                        <%=link_to 'DETALLE PEDIDO', details_path, style: "color:white; text-decoration:none" %>
                    </li>
                     <li class="nav-item">
                        <a class="nav-link active" href="#">MI CUENTA</a>
                    </li> -->
                    <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->

                    <!--<% if user_signed_in? %>
                        <li class="nav-item mx-2">
                            <%= button_to "Salir", destroy_user_session_path, method: :delete, data: { turbo: "false" } %>
                        </li>
                    <% else %>
                        <li class="nav-item mx-2">
                            <%= link_to "REGISTRARSE", new_user_registration_path, style: "color:white; text-decoration:none" %>
                        </li>
                        <li class="nav-item mx-2">
                            <%= link_to "INICIAR SESIÓN", new_user_session_path, style: "color:white; text-decoration:none" %>
                        </li>
                    <% end %>-->
                </ul>

                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit"><i
                            class="fa-solid fa-magnifying-glass"></i></button>
                </form>
            </div>
        </div>
    </nav>