<div id="<%= dom_id client %>">

  <div>
    <strong>Foto perfil:</strong><br><br>
    <%= image_tag rails_blob_url(client.avatar) %>
  </div>
  <br>
  <p>
    <strong>Rut:</strong>
    <%= client.rut %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= client.name %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= client.email %>
  </p>

  <p>
    <strong>Password:</strong>
    <%= client.password %>
  </p>

  <p>
    <strong>Address:</strong>
    <%= client.address %>
  </p>

  <p>
    <strong>Phone:</strong>
    <%= client.phone %>
  </p>
  
</div>
